<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digirestro - Admin</title>
</head>

<body>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <%- include("nav-sidebar.ejs") %>

        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">

                    <div class="card">
                        <form class="needs-validation" method="post" action="/admin/edit-subscription">
                            <div class="card-header">
                                <h4>Edit Subscription</h4>
                            </div>
                            <input type="hidden" value="<%= subscription._id %>" name="_id">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Subscription Name</label>
                                    <input type="text" class="form-control" name="plan_name" id="plan_name"
                                           placeholder="Subscription Name" required=""
                                           value="<%= subscription.plan_name %>">
                                    <div class="invalid-feedback">
                                        What's Subscription Name?
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Subscription Description</label>
                                    <input type="text" class="form-control" name="description" id="description"
                                           placeholder="Subscription Description" required=""
                                           value="<%= subscription.description %>">
                                    <div class="invalid-feedback">
                                        What's Subscription Description?
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Subscription duration</label>
                                        <input type="text" class="form-control" name="duration" id="duration"
                                               placeholder="Subscription Time Duration" required=""
                                               value="<%= subscription.duration %>"
                                               onkeypress="return (event.charCode > 47 && event.charCode < 58)"
                                               minlength="1" maxlength="2">
                                        <div class="invalid-feedback">
                                            What's Subscription Time Duration?
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Subscription Price</label>
                                        <input type="text" class="form-control" name="price" id="price"
                                               placeholder="Subscription Price" required=""
                                               value="<%= subscription.price %>"
                                               onkeypress="return (event.charCode > 47 && event.charCode < 58)"
                                               minlength="4" maxlength="7">
                                        <div class="invalid-feedback">
                                            What's Subscription Price?
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <input type="submit" class="btn btn-primary" id="add"
                                       value="update Subscription">
                            </div>
                        </form>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>

<!-- General JS Scripts -->
<script src="assets/js/app.min.js"></script>
<!-- Template JS File -->
<script src="assets/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="assets/js/custom.js"></script>

</body>
</html>