<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digirestro - Admin</title>
</head>

<body>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <%- include("nav-sidebar.ejs") %>

        <!-- Main Content -->
        <div class="main-content">
            <!-- write a code -->

            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h4>Company</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover" id="table-1" style="width:100%;">
                                            <thead>
                                            <tr>
                                                <th>Index</th>
                                                <th>Company Logo</th>
                                                <th>Company Name</th>
                                                <th>Legal Name</th>
                                                <th>Owner</th>
                                                <th>Created At</th>
                                                <th>Updated At</th>
                                                <th>Deleted At</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <% for(let i=0; i < companyDetails.length; i++){ %>
                                            <tr>
                                                <td><%= i+1 %></td>
                                                <td>
                                                    <img alt="image" src="assets/img/cards/mastercard.png" width="50">
                                                </td>
                                                <td><%= companyDetails[i].company_name%></td>
                                                <td><%= companyDetails[i].legal_name%></td>
                                                
                                                <td><%= companyDetails[i].ownerName%></td>
                                                <td>
                                                    <%= companyDetails[i].created_at.toLocaleString('en-US', { weekday: 'short', day: 'numeric', month: 'short', year: 'numeric' })%>
                                                    <br>
                                                    <%= companyDetails[i].created_at.toLocaleString('en-US', {hour: '2-digit', minute: '2-digit', second: '2-digit' })%>

                                                </td>
                                                <td>
                                                    <%= companyDetails[i].updated_at.toLocaleString('en-US', { weekday: 'short', day: 'numeric', month: 'short', year: 'numeric' })%>
                                                    <br>
                                                    <%= companyDetails[i].updated_at.toLocaleString('en-US', {hour: '2-digit', minute: '2-digit', second: '2-digit' })%>
                                                </td>
                                                <td><%= companyDetails[i].deleted_at %></td>
                                                <td>
                                                    <a href="view-branch.php" class="btn btn-primary"><i
                                                                class="fas fa-info-circle"></i></a>
                                                </td>
                                            </tr>
                                            <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
</div>

<!-- General JS Scripts -->
<script src="assets/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="assets/bundles/datatables/datatables.min.js"></script>
<script src="assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="assets/bundles/jquery-ui/jquery-ui.min.js"></script>
<!-- Page Specific JS File -->
<script src="assets/js/page/datatables.js"></script>
<!-- Template JS File -->
<script src="assets/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="assets/js/custom.js"></script>

</body>
</html>