<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digirestro - Branch</title>
</head>

<body>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <%- include("nav-sidebar.ejs", { data: { companies: formattedCompanies } }) %>

        <!-- Main Content -->
        <div class="main-content">
            <!-- write a code -->
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h4>Branches</h4>
                                    <div class="buttons">
                                        <a href="javascript:void(0)" class="settingPanelToggle btn btn-primary subbtn">Add
                                            Branch</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover" id="table-1" style="width:100%;">
                                            <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Branch Name</th>
                                                <th>Address</th>
                                                <th>City</th>
                                                <th>State</th>
                                                <th>Country</th>
                                                <th>Pincode</th>
                                                <th>Gst No</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% for (let i = 0; i < branch.length; i++) { %>
                                                <tr>
                                                    <td>1</td>
                                                    <td><%= branch[i].branch_name %></td>
                                                    <td><%= branch[i].street_address %></td>
                                                    <td><%= branch[i].city %></td>
                                                    <td><%= branch[i].state %></td>
                                                    <td><%= branch[i].country %></td>
                                                    <td><%= branch[i].pin_code %></td>
                                                    <td><%= branch[i].gst_no %></td>
                                                    <td>
                                                        <% if(branch[i].is_active == true){ %>
                                                            <div class="badge badge-success badge-shadow">Active
                                                            </div>
                                                        <% }else { %>
                                                            <div class="badge badge-danger badge-shadow">Deactive</div>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0)"
                                                           class="settingPanelToggle updatebtn btn btn-primary"
                                                           onclick="updateData('1')">
                                                            <i class="fas fa-edit"></i></a>
                                                        <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            <% } %>
                                            <!--                                            branch-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="settingSidebar settingSidebar2 sub">
                <div class="fade show active">
                    <div class="setting-panel-header">Branch</div>

                    <div class="card m-2 scrollbar-auto">
                        <div class="card-header">
                            <h4>Select Subscriptions</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-2">
                                    <thead>
                                    <tr>
                                        <th>Plan Name</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for (let i = 0; i < subscriptions.length; i++) { %>
                                        <tr>
                                            <td><%= subscriptions[i].plan_name %></td>
                                            <td><%= subscriptions[i].description %></td>
                                            <td>
                                                <div class="badge badge-success badge-shadow"><%= subscriptions[i].price %></div>
                                            </td>
                                            <td><a href="javascript:void(0)"
                                                   onclick="updateData('<%= subscriptions[i]._id %>')"
                                                   class="addbtn subbtn btn btn-primary">Select</a></td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="settingSidebar settingSidebar2 add">
                <div class="fade show active">
                    <div class="setting-panel-header">Branch</div>
                    <div class="card m-4 scrollbar-auto">
                        <form class="needs-validation" id="pay-form" novalidate="">
                            <div class="card-header">
                                <h4>Add Branch</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <input type="hidden" id="subscriptions_id" name="subscriptions_id">
                                    <div class="form-group col-md-5">
                                        <label>Branch Name</label>
                                        <input type="text" class="form-control" name="branch_name"
                                               placeholder="Branch Name" required="">
                                        <div class="invalid-feedback">
                                            What's Branch Name?
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Username</label>
                                        <input type="text" class="form-control" name="name"
                                               placeholder="Username" required="">
                                        <div class="invalid-feedback">
                                            What's Username?
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Mobile Number</label>
                                        <input type="text" class="form-control" name="mobile_no"
                                               placeholder="Mobile Number" required=""
                                               minlength="10" maxlength="10">
                                        <div class="invalid-feedback">
                                            What's Branch Mobile Number?
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-7">
                                        <label>Branch Email Address</label>
                                        <input type="email" class="form-control" name="email_id"
                                               placeholder="Branch Email Address" required="">
                                        <div class="invalid-feedback">
                                            What's Branch Email Address?
                                        </div>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label>Password</label>
                                        <input type="text" class="form-control" name="password"
                                               placeholder="Branch Password" required="">
                                        <div class="invalid-feedback">
                                            What's Branch Password?
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Branch Address</label>
                                    <input type="text" class="form-control" name="street_address"
                                           placeholder="Branch Address" required="">
                                    <div class="invalid-feedback">
                                        What's Branch Address?
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Branch Country</label>
                                        <select class="form-control" required name="country_id">
                                            <option>India</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            What's Branch Country?
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Branch State</label>
                                        <select class="form-control" required name="state_id">
                                            <option>Gujrat</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            What's Branch State?
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Branch City</label>
                                        <select class="form-control" required name="city_id">
                                            <option>Surat</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            What's Branch City?
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <label>Branch GST No</label>
                                        <input type="text" class="form-control" name="gst_no"
                                               placeholder="Branch GST No" required="">
                                        <div class="invalid-feedback">
                                            What's Branch GST No?
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Pincode</label>
                                        <input type="text" class="form-control" name="pin_code"
                                               placeholder="Branch Pincode" required=""
                                               onkeypress="return (event.charCode > 47 && event.charCode < 58)"
                                               minlength="6" maxlength="6">
                                        <div class="invalid-feedback">
                                            What's Branch Pincode?
                                        </div>
                                    </div>
                                </div>

                                <input type="submit" class="btn btn-primary" name="add" id="add"
                                       value="Add Branch">

                                <a href="javascript:void(0)"
                                   class="addbtn btn btn-icon icon-left btn-primary btn-restore-theme">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="settingSidebar settingSidebar2 update">
                <div class="fade show active">
                    <div class="setting-panel-header">Branch</div>
                    <div class="card m-4 scrollbar-auto">
                        <form class="needs-validation" novalidate="">
                            <div class="card-header">
                                <h4>Update Branch</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Branch Name</label>
                                    <input type="text" class="form-control" name="branch_name"
                                           placeholder="Branch Name" required="">
                                    <div class="invalid-feedback">
                                        What's Branch Name?
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Branch Address</label>
                                    <input type="text" class="form-control" name="street_address"
                                           placeholder="Branch Address" required="">
                                    <div class="invalid-feedback">
                                        What's Branch Address?
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Branch Country</label>
                                        <select class="form-control" required name="country_id">
                                            <option>India</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            What's Branch Country?
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Branch State</label>
                                        <select class="form-control" required name="state_id">
                                            <option>Gujrat</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            What's Branch State?
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Branch City</label>
                                        <select class="form-control" required name="city_id">
                                            <option>Surat</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            What's Branch City?
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <label>Branch GST No</label>
                                        <input type="text" class="form-control" name="gst_no"
                                               placeholder="Branch GST No" required="">
                                        <div class="invalid-feedback">
                                            What's Branch GST No?
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Pincode</label>
                                        <input type="text" class="form-control" name="pin_code"
                                               placeholder="Branch Pincode" required=""
                                               onkeypress="return (event.charCode > 47 && event.charCode < 58)"
                                               minlength="6" maxlength="6">
                                        <div class="invalid-feedback">
                                            What's Branch Pincode?
                                        </div>
                                    </div>
                                </div>

                                <input type="submit" class="btn btn-primary" name="update" id="update"
                                       value="Update Branch">

                                <a href="javascript:void(0)"
                                   class="updatebtn btn btn-icon icon-left btn-primary btn-restore-theme">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<script>
    function updateData(id) {
        document.getElementById('subscriptions_id').value = id;
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $(document).ready(function () {
        $('#pay-form').submit(function (e) {
            e.preventDefault();

            var formData = $(this).serialize();

            console.log(formData)
            $.ajax({
                url: "/company/add-branch",
                type: "POST",
                data: formData,
                success: function (res) {
                    if (res.success) {
                        var options = {
                            key: res.key_id,
                            amount: res.amount,
                            currency: "INR",
                            name: "Digirestro",
                            description: res.description,
                            image: "https://dummyimage.com/600x400/000/fff",
                            order_id: res.order_id,
                            handler: function (response) {
                                // formData.append('razorpay_payment_id', response.razorpay_payment_id)
                                // alert("Payment Succeeded");
                                $.ajax({
                                    url: "/company/insert-branch-data",
                                    type: "POST",
                                    data: formData,
                                    success: function (response) {
                                        if (response.success) {
                                            alert("Payment Succeeded");
                                            // console.log(response);
                                            // var customerId = response.customerId;
                                            // // Use customerId as needed
                                            // console.log("Customer ID:", customerId);
                                            // // Optionally redirect to a thank-you page
                                            window.location.href = "/company/manage-branch";
                                        } else {
                                            alert("Error processing payment data 1");
                                        }
                                    },
                                    error: function (error) {
                                        alert("Error processing payment data 2");
                                    }
                                });

                            },
                            prefill: {
                                contact: res.contact,
                                name: res.name,
                                email: res.email
                            },
                            notes: {
                                description: res.description
                            },
                            theme: {
                                color: "#f38709"
                            }
                        };
                        var razorpayObject = new Razorpay(options);
                        razorpayObject.on('payment.failed', function (response) {
                            alert("Payment Failed");
                        });
                        razorpayObject.open();
                    } else {
                   
                        alert(res.msg);
                    }
                }
            });
        });
    });
</script>
<!-- General JS Scripts -->
<script src="assets/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="assets/bundles/datatables/datatables.min.js"></script>
<script src="assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="assets/bundles/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/bundles/chocolat/dist/js/jquery.chocolat.min.js"></script>
<script src="assets/bundles/jquery-ui/jquery-ui.min.js"></script>
<!-- Page Specific JS File -->
<script src="assets/js/page/datatables.js"></script>
<!-- Template JS File -->
<script src="assets/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="assets/js/custom.js"></script>

</body>
</html>